$body-color: darkslategrey;

h1 {
  font-family: fantasy;
  text-align: center;
  font-size: 100px;
}

button {
  height: 50px;
  width: 50px;
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

div {
  margin-left: auto;
  margin-right: auto;
  width: 25%
}

#button0 {
  width: 140px;
}

input {
  width: 284px;
  text-align: right;
  border: none;
  border-radius: 3px;
}
#input {
  height: 40px;
  font-size: 28px;
  background: lightgray;
  border-start-end-radius: 110%;
  margin-bottom: -10px;
  background-blend-mode: soft-light;
}
#preemtiveCal {
  background: lightgray;
  color: gray;
  margin-top: -10px;
}


body {
  color: $body-color;
}
